.galleryStyle {
  min-height: 80vh;
  background-color: #2d7064;
  font-size: 0.9em;
  padding: 20px;
}
.galleryStyle h1 {
  color: rgb(119, 216, 199);
  text-align: center;
}
.tileStyle {
  background-color: #255e54;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.visitedStyle {
  color: #b8c1ea;
  padding: 2px 5px;
  border: dashed 1px rgb(184, 193, 234);
  margin-right: 5px;
  border-top: none;
  border-radius: 5px;
  border-left: none;
  display: inline-block;
  cursor: default;
}