.galleryStyle {
  min-height: 80vh;
  background-color: #2d7064;
  font-size: 0.9em;
  padding: 20px;
}
.tileStyle {
  background-color: #255e54;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchStyle {
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  min-width: 160px;
}
.genreStyle {
  border: 1px solid grey;
  padding: 3px 5px;
  border-radius: 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(64, 143, 129);
  color: #fff;
  cursor: pointer;
}
.genreListing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.visitedStyle {
  color: #b8c1ea;
  padding: 2px 5px;
  border: dashed 1px rgb(184, 193, 234);
  margin-right: 5px;
  border-top: none;
  border-radius: 5px;
  border-left: none;
  display: inline-block;
  cursor: default;
}
